.ComputationResults{
    padding: 2% 3%;
    border-radius: 7px;
}

.incompatible{
    background-color: var(--bg-red);
    color: var(-color-red);
}

.compatible{
    background-color: var(--bg-green);
    color: var(--color-green);
}

.caution{
    background-color: var(--bg-yellow);
    color: var(--color-yellow);
}

.default{
    background-color: var(--bg-blue);
    color: var(--color-blue);
}

div.ComputationResults p{
    margin: 0;
}