.ComputationResults{
    padding: 2% 3%;
    border-radius: 7px;
}

.incompatible{
    background-color: #fba785;
    color: #b3441f;
}

.compatible{
    background-color: #dcf5d6;
    color: #329939;
}

.caution{
    background-color: #fbf2c4;
    color: #dab153;
}

.default{
    background-color: #d7eaea;
    color: #52969c;
}

div.ComputationResults p{
    margin: 0;
}