<!DOCTYPE html>
<html>
    <head>
        <title>Загрузчик данных о ЛС</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Загрузчик данных о лекарственных средствах на сайт</h2>
        <p>{{ row }}</p>

        <form action="" method="post">
            {% csrf_token %}
            <label for="id_1">Введите название ЛС</label>
            <input type="text" name="drug_name" value="Например, Баларгин" id="id_1">
            <input type="submit" value="Поиск">
        </form>
        <br>
        <table border=5>
            <thead>
                <tr>
                    {% for hc in head_cols %}
                        <th>{{ hc }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for drug in drugs %}
                <tr>
                    <td>{{ drug.name }}</td><td>{{ drug.holder }}</td><td>{{ drug.forms }} <a href="{% url 'instruction' drug.drug_id%}">Читать инструкцию</a></td>
                </tr>
                {% endfor %}  
                <!--
                {% for item in page_obj %}
                <tr>
                    <td>{{ item.name }}</td><td>{{ item.holder }}</td><td>{{ item.forms }} <a href="{% url 'instruction' item.drug_id%}">Читать инструкцию</a></td>
                </tr>
                {% endfor %}  
                -->
            </tbody>
        </table>
        <!--
        <nav>
            <ul>
                {% for p in page_obj.paginator.page_range %}
                <li>
                    <a href="?page={{ p }}">{{ p }}</a>
                </li> 
                {% endfor %}
            </ul>
        </nav>  
        -->
        
    </body>
</html>