<!DOCTYPE html>
<html>
    <head>
        <title>Инструкция ЛС</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Инструкция выбранного лекарственного средства</h2>
        <p>Инструкция от {{drug_name}}</p>
        <table border="5">
            <thead>
                <tr>
                    {% for hc in head_cols %}
                        <th>{{ hc }}</th>
                    {% endfor %}
                </tr>
                <tbody>
                    {% for dl in hc_dict_list %}
                        <tr>
                            <td>{{ dl.headline }}</td><td>{{ dl.content }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </body>    
</html>
