nav{
    width: 15%;
    height: 100vh;

    padding: 1%;
    margin-right: 1%;

    background-color: var(--background-nav-light);
    color: var(--color-light);

    /* border-radius: 7px; */
    box-shadow: 1px 1px 10px var(--shadow-color-2);
}

.nav-pills .nav-link {
    border-radius: 25px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    box-shadow: 5px 5px 10px var(--shadow-color-2), -5px -5px 10px var(--shadow-color-1);

    background-color: var(--scrolbar-bg);
}

nav .nav-link:not(.active):hover {
    background-color: #e9ecef; /* серый цвет при наведении */
    box-shadow: 1px 1px 5px var(--shadow-color-2), -1px -1px 5px var(--shadow-color-1);
    cursor: pointer;
}

nav .nav-item {
    margin-bottom: 3.5%; /* или любой другой отступ по вашему желанию */
}