# dependencies
/node_modules
/Graph_parser/node_modules
/Graph_parser/DataSetParse/node_modules
/VigiAccessApi/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/doccano
/train_summarization
Graph_parser/DataSetParse/Data/~$SideEffectTable.xlsx


# Data bases
*.db
*.sqlite3
pharm.db
ml_pharm_web/pharm.db


# ...
.idea/
.vscode/
__pycache__/
*.pyc
.env
env
venv
.venv
backend/static/
data/testmedscape_en/
data/testmedscape_ru/
.pytest_cache/
.log
logs/
.db-journal
pharm.db-journal
my_utils/
*.xlsx
*.csv
*.json
*.graphml
*.docx

backend/calculation_trace.txt
calculation_trace.txt
backend/single_calculation_trace.txt
single_calculation_trace.txt
debug_tables.xlsx

backend/data/sentence_transformer_models

# exclude
!backend/graphs/utils/custom_pymorphy/custom_lemma_dict.json
!backend/graphs/utils/data/side_e_synonim_dict_all.json
!backend/data/graphs_for_bayes/graphs_4.json
!backend/data/graphs_for_bayes/probabilities_opt.json
!backend/data/txt_files_db/extracted_data_not_all.json
!backend/data/txt_files_db/extracted_data_all.json
!backend/data/txt_files_db/dictonary_male_female_side_e.json
!backend/data/graphs_for_bayes/multigraph.json
!backend/data/graphs_for_bayes/probability_opt.json
!backend/data/graphs_for_bayes/*
!backend/data/txt_files_db/exported_synonyms.json
!backend/data/txt_files_db/banned_pairs.csv
!backend/mini_front/*
!backend/data/rank_colors/default_colors.json

backend/mini_front/package-lock.json