# dependencies
/node_modules
/Graph_parser/node_modules
/Graph_parser/DataSetParse/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/doccano/auto_nosplitText_nosplitTestText
/doccano/auto_splitText_nosplitTestText
/doccano/output
/doccano/standard_mark/results
/train_summarization/archive/BBC News Summary
/doccano/visualizations
/train_summarization/data
/train_summarization/results/runs
