__pycache__/
fixtures/
.pytest_cache/
mini_front/node_modules/
mini_front/dist/
*.pyc
*.pyo
*.pyd
env/
.venv/
.git/
*.sqlite3
*.xlsx
*.txt
*.csv
*.db
.DS_Store
static/
logs/

!requirements.txt
node_modules
package-lock.json
pytest.ini
