@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-ExtraBoldItalic.eot');
    src: local('Mona-Sans ExtraBold Italic'), local('Mona-Sans-ExtraBoldItalic'),
        url('Mona-Sans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-ExtraBoldItalic.woff2') format('woff2'),
        url('Mona-Sans-ExtraBoldItalic.woff') format('woff'),
        url('Mona-Sans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-Black.eot');
    src: local('Mona-Sans Black'), local('Mona-Sans-Black'),
        url('Mona-Sans-Black.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-Black.woff2') format('woff2'),
        url('Mona-Sans-Black.woff') format('woff'),
        url('Mona-Sans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-BlackItalic.eot');
    src: local('Mona-Sans Black Italic'), local('Mona-Sans-BlackItalic'),
        url('Mona-Sans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-BlackItalic.woff2') format('woff2'),
        url('Mona-Sans-BlackItalic.woff') format('woff'),
        url('Mona-Sans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-Bold.eot');
    src: local('Mona-Sans Bold'), local('Mona-Sans-Bold'),
        url('Mona-Sans-Bold.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-Bold.woff2') format('woff2'),
        url('Mona-Sans-Bold.woff') format('woff'),
        url('Mona-Sans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-ExtraBold.eot');
    src: local('Mona-Sans ExtraBold'), local('Mona-Sans-ExtraBold'),
        url('Mona-Sans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-ExtraBold.woff2') format('woff2'),
        url('Mona-Sans-ExtraBold.woff') format('woff'),
        url('Mona-Sans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-BoldItalic.eot');
    src: local('Mona-Sans Bold Italic'), local('Mona-Sans-BoldItalic'),
        url('Mona-Sans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-BoldItalic.woff2') format('woff2'),
        url('Mona-Sans-BoldItalic.woff') format('woff'),
        url('Mona-Sans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-SemiBoldItalic.eot');
    src: local('Mona-Sans SemiBold Italic'), local('Mona-Sans-SemiBoldItalic'),
        url('Mona-Sans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-SemiBoldItalic.woff2') format('woff2'),
        url('Mona-Sans-SemiBoldItalic.woff') format('woff'),
        url('Mona-Sans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-SemiBold.eot');
    src: local('Mona-Sans SemiBold'), local('Mona-Sans-SemiBold'),
        url('Mona-Sans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-SemiBold.woff2') format('woff2'),
        url('Mona-Sans-SemiBold.woff') format('woff'),
        url('Mona-Sans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-UltraLightItalic.eot');
    src: local('Mona-Sans UltraLight Italic'), local('Mona-Sans-UltraLightItalic'),
        url('Mona-Sans-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-UltraLightItalic.woff2') format('woff2'),
        url('Mona-Sans-UltraLightItalic.woff') format('woff'),
        url('Mona-Sans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-RegularItalic.eot');
    src: local('Mona-Sans Regular Italic'), local('Mona-Sans-RegularItalic'),
        url('Mona-Sans-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-RegularItalic.woff2') format('woff2'),
        url('Mona-Sans-RegularItalic.woff') format('woff'),
        url('Mona-Sans-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-MediumItalic.eot');
    src: local('Mona-Sans Medium Italic'), local('Mona-Sans-MediumItalic'),
        url('Mona-Sans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-MediumItalic.woff2') format('woff2'),
        url('Mona-Sans-MediumItalic.woff') format('woff'),
        url('Mona-Sans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-UltraLight.eot');
    src: local('Mona-Sans UltraLight'), local('Mona-Sans-UltraLight'),
        url('Mona-Sans-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-UltraLight.woff2') format('woff2'),
        url('Mona-Sans-UltraLight.woff') format('woff'),
        url('Mona-Sans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-Regular.eot');
    src: local('Mona-Sans Regular'), local('Mona-Sans-Regular'),
        url('Mona-Sans-Regular.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-Regular.woff2') format('woff2'),
        url('Mona-Sans-Regular.woff') format('woff'),
        url('Mona-Sans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-Light.eot');
    src: local('Mona-Sans Light'), local('Mona-Sans-Light'),
        url('Mona-Sans-Light.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-Light.woff2') format('woff2'),
        url('Mona-Sans-Light.woff') format('woff'),
        url('Mona-Sans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-LightItalic.eot');
    src: local('Mona-Sans Light Italic'), local('Mona-Sans-LightItalic'),
        url('Mona-Sans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-LightItalic.woff2') format('woff2'),
        url('Mona-Sans-LightItalic.woff') format('woff'),
        url('Mona-Sans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('Mona-Sans-Medium.eot');
    src: local('Mona-Sans Medium'), local('Mona-Sans-Medium'),
        url('Mona-Sans-Medium.eot?#iefix') format('embedded-opentype'),
        url('Mona-Sans-Medium.woff2') format('woff2'),
        url('Mona-Sans-Medium.woff') format('woff'),
        url('Mona-Sans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

