.ls_modal{
    height: 100vh;
    width: 100vw;
    background-color: var(--background-modal);

    position: fixed;
    top: 0;
    left: 0;
}

.ls_modal_content{
    width: 40%;
    padding: 10px 30px;
    background-color: var(--background-main);
    border-radius: 7px;
    
}