h1{
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

h2{
    margin: 0;
    font-size: 1.2rem;
}

h3{
    margin: 0;
    font-size: 1rem;
}

legend{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 3%;
}

label{
    font-weight: 500;
    font-size: 0.87rem;
}

.form-label{
    margin-bottom: 0.4rem;
}