@font-face {
     font-family: 'TikTok Sans';
    src: url('TikTokSans-VariableFont_opsz,slnt,wdth,wght.ttf') format('truetype-variations');
    font-weight: 100 900;    /* диапазон жирности */
    font-stretch: 50% 200%;  /* диапазон ширины (если поддерживается) */
    font-style: normal;
    font-display: swap;
}