# ML/NLP (CPU)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchaudio==2.5.1+cpu
torchvision==0.20.1+cpu
sentence-transformers==5.2.1
transformers>=4.48.0,<5.0.0
scikit-learn==1.6.1
pymorphy3==2.0.6
pymorphy3-dicts-ru==2.4.417150.4580142

# 
fastapi
uvicorn

# 
numpy
pydantic