main.loginPage{
    width: 100vw;
    height: 100vh;
    // background-color: var(--bg-color);
}

.login-main{
    padding: 3% 3%;
    // border: 1px solid var(--login-borde);
    border-radius: 7px;

    // box-shadow: 
    // -3px -3px 5px rgba(255, 255, 255, 0.8),   
    // 3px 3px 5px rgba(0, 0, 0, 0.1);     
}

.loginContent{
    background-color: var(--bg-color);
}

.loginContent div{
    padding: 20% 1%;
}

.loginContent div p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #4a6188;
}

.loginContent div p.logo{
    font-size: 4rem;
    color: #4a6188;
}