.dg-1{ /*Общая группа*/
  color: #fff !important;
  background-color: #6c757d !important;
}

.dg-2{ /*Грипп*/
  color: #fff !important;
  background-color: #9DB893 !important // #316dac !important;
}

.dg-3{ /*ХСН*/
  color: #fff !important;
  background-color: #b15764 !important;// #31ac47 !important;
}

.dg-4{ /*болезнь паркинсона*/
  color: #fff !important;
  background-color: #cd8374 !important;// #31ac47 !important;
}

.dg-5{ /*болезнь альцгеймера, деменция*/
  color: #fff !important;
  background-color: #babde2 !important;// #31ac47 !important;
}

.dg-6{ /*эпилепсия различного генеза*/
  color: #fff !important;
  background-color:  #297C9A !important;// #31ac47 !important;
}

.dg-7{ /*невротические расстройства; эпилепсия*/
  color: #fff !important;
  background-color: #574b73  !important;// #31ac47 !important;
}

.dg-8{ /*эпилепсия различного генеза; биполярное аффективное расстройство*/
  color: #fff !important;
  background-color: #ae6a7f !important;// #31ac47 !important;
}

.dg-9{ /*эпилепсия различного генеза; мигрень*/
  color: #fff !important;
  background-color: #b454d1 !important;// #31ac47 !important;
}

.dg-10{ /*нейропатическая боль; эпилепсия*/
  color: #fff !important;
  background-color: #59bfd1 !important;// #31ac47 !important;
}

.dg-11{ /*эпилепсия различного генеза; мигрень*/
  color: #fff !important;
  background-color: #9278CE !important;// #31ac47 !important;
}

.dg-12{ /*мигрень*/
  color: #fff !important;
  background-color: #91334c !important;// #31ac47 !important;
}

.dg-13{ /*липидснижающие средства*/
  color: #fff !important;
  background-color: #78b932 !important;// #31ac47 !important;
}

.dg-14{ /*нейротрофические/нейрометаболические/антиоксиданты/вазо-активные*/
  color: #fff !important;
  background-color: #257858 !important;// #31ac47 !important;
}

.dg-15{ /**/
  color: #fff !important;
  background-color: #257378 !important;// #31ac47 !important;
}

.dg-16{ /**/
  color: #fff !important;
  background-color: #253e78 !important;// #31ac47 !important;
}

.dg-17{ /**/
  color: #fff !important;
  background-color: #786a25 !important;// #31ac47 !important;
}

.dg-18{ /**/
  color: #fff !important;
  background-color: #784d25 !important;// #31ac47 !important;
}

.dg-19{ /**/
  color: #fff !important;
  background-color: #923814 !important;// #31ac47 !important;
}

.dg-20{ /**/
  color: #fff !important;
  background-color: #319817 !important;// #31ac47 !important;
}