.logo{
    &:hover{
        cursor: pointer;
    }
}

nav.mainNav{
    height: 100vh;
    background-color: var(--nav-bg);

    box-shadow: 
    -2px -2px 5px rgba(255, 255, 255, 0.8),   
    2px 2px 5px rgba(0, 0, 0, 0.2);  
         
}

.mobilePosition{
    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        
    }
}

.mobile-nav{
    @media (max-width: 768px) {
        display: none;
        
        &.mobile-open {
            display: block;
        }
    }
}

.burger-menu {
    display: none;
    cursor: pointer;
    
    @media (max-width: 768px) {
        display: block;
    }
}

nav.mainNav li.nav-main a.nav-link {
    box-shadow: 
    -2px -2px 5px rgba(255, 255, 255, 0.8),   
    2px 2px 5px rgba(0, 0, 0, 0.2);       

    &:focus{
        background-color: var(--nav-bg) !important;
        transition: background-color 0.1s ease;
        box-shadow: 
        inset -2px -2px 5px rgba(255, 255, 255, 0.8),   
        inset 2px 2px 5px rgba(0, 0, 0, 0.2);       
    }
    &:hover{
        cursor: pointer;
        background-color: var(--nav-link-hover);
        transition: background-color 0.5s ease;
    }
}

nav.mainNav li.nav-main a.nav-link.active{
    background-color: var(--nav-link-active);      
}

nav.mainNav li.nav-sub a.nav-link {
    box-shadow: 
    -1px -1px 5px rgba(255, 255, 255, 0.8),   
    1px 1px 5px rgba(0, 0, 0, 0.2);       

    &:focus{
        background-color: var(--nav-bg) !important;
        transition: background-color 0.1s ease;
        box-shadow: 
        inset -1px -1px 5px rgba(255, 255, 255, 0.8),   
        inset 1px 1px 5px rgba(0, 0, 0, 0.2);       
    }
    &:hover{
        cursor: pointer;
        background-color: var(--nav-link-hover);
        transition: background-color 0.5s ease;
    }
}

div.nav-footer{
    box-sizing: border-box;
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 0;
}

div.nav-footer a.link-login{
    background-color: #adb9cb;
}

div.userinfo img{
    width: 17%;
    fill: #fff;
}
div.userinfo p.username{
    font-weight: 600;
    font-size: 1.1rem;
}
div.userinfo p.userrole{
    font-weight: 400;
    font-size: 0.9rem;
}