{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'pharm/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'pharm/images/Logo.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

</head>
<body>
	<nav>
		{% block mainmenu %}
			<div class="flex jc-sb">
				<ul class="nav-ul flex align-center">
					<!-- Logo -->
					<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

					<!-- Заголовки основного меню -->
					{% for m in menu %}
						<li class="nav-li"><a href="{% url m.url_name %}">{{m.title}}</a></li>
					{% endfor %}
				</ul>

				<ul class="nav-ul flex align-center">
					<li class="last">
						{% if user.is_authenticated %}
							{% if user.is_staff %}
								Admin:  
							{% else %}
								User: 
							{% endif %} 
							{{ user.get_username }} | <a href="{% url 'logout' %}">Выйти</a>
						{% else %}
						<a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
						{% endif %}
					</li>
				</ul>
			</div>
		{% endblock mainmenu %}
	</nav>

	<div class="flex jc-sb main-block" >
		<!-- Sidebar слева -->
		<div class="leftSidebar">
			<ul id="leftchapters">
				{% for c in add_element %}
					{% if c.nom == add_element_selected %}
						<li class="selected">{{c.name_model}}</li>
					{% else %}
						<li class="nonselected" ><a href="{% url c.url_name %}">{{c.name_model}}</a></li>
					{% endif %}
				{% endfor %}
				{% for ml in ml_model %}
					{% if ml.pk == ml_model_selected %}
						<li class="selected">{{ml.name_model}}</li>
					{% else %}
						<li class="nonselected" ><a href="{{ ml.get_absolute_url }}">{{ml.name_model}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<!-- Блок контента -->
		<div class="content-block">
			<!-- Хлебные крошки -->
			{% block breadcrumbs %}
			{% endblock %}

			<!-- Блок контента -->
			
			{% block content %}
			{% endblock %}
			
			<!-- Конец блока контента -->
		</div>

	</div>

	<footer>

	</footer>
</body>
</html>
