{% extends 'pharm/base.html' %}

{% block content %}


<div>
    <div class="medicines-conteiner mg-bottom-3">
        <h1>Лекарственные средства</h1>
        <form method="GET" >
            <label for="drugs">Введите лекарственные средства</label>
            <input id="search-input-medicines" class="input_medicines" type="text" name="drugs" id="drugs" value="{{ drugs }}">
            
            <ul id="suggestions"></ul>
            <div class="file-selection">
                {% for file in polypharma_files %}
                    <div class="file-option">
                        <input type="radio" id="{{ file }}" name="file_upload" value="{{ file.file }}" {% if loop.index == 1 %}checked{% endif %}>
                        <label for="{{ file }}">{{ file.name }}</label>
                    </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            
            <div class="file-selection">
                {% endif %}
                {% endfor %}
            </div>
            
            <div class="flex jc-center">
                <button class="button_next" type="submit">Определить взаимодействие</button>
            </div>
        </form>
    </div>

    
    <script>
        // Установить первый элемент радиокнопок как выбранный по умолчанию
        document.addEventListener('DOMContentLoaded', function() {
            const radios = document.querySelectorAll('input[name="file_upload"]');
            if (radios.length > 0) {
                radios[0].checked = true; // Установить первый радиобаттон как выбранный
            }
        });
    </script>

    {% load static %}
    <script src="{% static 'pharm/js/AJAX_Polipharma_Drugs.js' %}"></script>

    <h1 class="title-h uppercase">Результаты оценки рисков побочных эффектов при полифармакотерапии:</h1>

    <h1>Общий риск полифармакотерапии:</h1>
    
    <div class="div-result">
        
        <div class="li-pad interaction_description_{% if classification_description == 'Под наблюдением врача' %}attentively{% elif classification_description == 'Разрешено' %}insignificant{% elif classification_description == 'противопоказано' %}contraindicated{% elif classification_description == 'Запрещено' %}serious{% endif %}"> 
            
            <h2 class="warning-h uppercase">{{ classification_description }} - {{ rand_iteractions }}</h2>
           
            <!-- <h4> ({{ rand_iteractions }})</h4> -->
        </div>

        <div class="li-pad">
            <h2>Детали рисков возникновения побочных эффектов:</h2>
            
            <div class="div-li li-pad interaction_description_serious full-border-radius">
                <ul >
                    {% for effect in side_effects_class_3%}
                        <li>{{ effect.name }} - <b>{{ effect.rangsum }}</b></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="div-li li-pad interaction_description_attentively full-border-radius ">
                <ul >
                    {% for effect in side_effects_class_2|slice:":3" %}
                        <li>{{ effect.name }} - <b>{{ effect.rangsum }}</b></li>
                    {% endfor %}
                </ul>
        
                {% if side_effects_class_2|length > 3 %}
                    <button class="button_more" onclick="toggleDetails('class2-details')">Показать больше</button>
                    <ul id="class2-details" style="display:none;">
                        {% for effect in side_effects_class_2|slice:"3:" %}
                            <li>{{ effect.name }} - <b>{{ effect.rangsum }}</b></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <div class="div-li li-pad interaction_description_insignificant full-border-radius ">
                <ul >
                    {% for effect in side_effects_class_1|slice:":3" %}
                        <li>{{ effect.name }} - <b>{{ effect.rangsum }}</b></li>
                    {% endfor %}
                </ul>
                {% if side_effects_class_1|length > 3 %}
                    <button class="button_more" onclick="toggleDetails('class1-details')">Показать больше</button>
                    <ul id="class1-details" style="display:none;">
                        {% for effect in side_effects_class_1|slice:"3:" %}
                            <li>{{ effect.name }} - <b>{{ effect.rangsum }}</b></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    
    

    <h1>Применимость комбинации с другими лекарственными средствами:</h1>
    <div class="div-result li-pad">
       
        <div class="flex jc-sb">
            <div class="w-50 li-pad as-flst interaction_description_serious full-border-radius">
                <h3>Серьезные взаимодействия</h3>
                <ul>
                    {% for effect in arr_drugs_class_3|slice:":3" %}
                        <li>{{ effect.name }}</li>
                    {% endfor %}
                </ul>
                
                {% if arr_drugs_class_3|length > 3 %}
                    <button class="button_more" onclick="toggleDetails('class4-details')">Далее</button>
                    <ul id="class4-details" style="display:none;">
                        {% for effect in arr_drugs_class_3|slice:"3:" %}
                            <li>{{ effect.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
    
            <div class="w-50 li-pad interaction_description_attentively full-border-radius">
                <h3>Внимательные взаимодействия</h3>
                <ul>
                    {% for effect in arr_drugs_class_2|slice:":3" %}
                        <li>{{ effect.name }}</li>
                    {% endfor %}
                </ul>
                {% if arr_drugs_class_2|length > 3 %}
                    <button class="button_more" onclick="toggleDetails('class5-details')">Далее</button>
                    <ul id="class5-details" style="display:none;">
                        {% for effect in arr_drugs_class_2|slice:"3:" %}
                            <li>{{ effect.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
    

    <script>
        function toggleDetails(id) {
            var details = document.getElementById(id);
            if (details.style.display === "none") {
                details.style.display = "block";
            } else {
                details.style.display = "none";
            }
        }
    </script>


    {% if interactions %}
        <h1>Взаимодействие:</h1>
        <ul class="medicines_ul">
            {% for interaction_list in interactions %}
                {% for interaction in interaction_list %}
                <li class="medicines_li ">
                    <div class=" li-pad interaction_description_{% if interaction.classification == 'внимательно следите' %}attentively{% elif interaction.classification == 'незначительный' %}insignificant{% elif interaction.classification == 'противопоказано' %}contraindicated{% elif interaction.classification == 'серьезный' %}serious{% endif %}">
                        <h3 class="warning-h uppercase">
                            {{ interaction.classification }}
                        </h3>
                        <h4>{{ interaction.name }} - {{ interaction.interaction_with }}</h4>
                    </div>
                    <div class="li-pad">
                        {{ interaction.description }}
                    </div>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
    {% endif %}
</div>

{% endblock %}