{% extends 'pharm/base.html' %}

{% block content %}


<div>
    <div class="medicines-conteiner">
        <h1>Лекарственные средства</h1>
        <form method="GET" >
            <label for="drugs">Введите лекарственные средства</label>
            <input id="search-input-medicines" class="input_medicines" type="text" name="drugs" id="drugs" value="{{ drugs }}">
            
            <ul id="suggestions"></ul>
            <div>
                <button type="submit">Подробно</button>
            </div>
        </form>
    </div>

    <div>
        {% load static %}
        <script src="{% static 'pharm/js/AJAX_Medscape_Drugs.js' %}"></script>
        {% if interactions %}
            <h1>Взаимодействие:</h1>

            <ul class="medicines_ul">
            {% for interaction_list in interactions %}
                {% for interaction in interaction_list %}
                <li class="medicines_li ">
                    <div class=" li-pad interaction_description_{% if interaction.classification == 'внимательно следите' %}attentively{% elif interaction.classification == 'незначительный' %}insignificant{% elif interaction.classification == 'противопоказано' %}contraindicated{% elif interaction.classification == 'серьезный' %}serious{% endif %}">
                        <h3 class="warning-h uppercase">
                            {{ interaction.classification }}
                        </h3>
                        <h4>{{ interaction.name }} - {{ interaction.interaction_with }}</h4>
                    </div>
                    <div class="li-pad">
                        {{ interaction.description }}
                    </div>
                </li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}