.btn{
    border-radius: 7px;
    padding: 10px 30px;
    border: none;

    box-shadow: 2px 2px 10px  rgba(153, 165, 179, 0.5);

    &:hover{
        cursor: pointer;
    }
    &:active{
        background-color: var(--background-fill-active);
    }
}

.btn-fill{
    background-color: var(--background-fill);
    color: var(--text-button-fill);
}

.btn-unfill{
    border: 1.5px solid var(--background-fill);
}

form > button.btn{
    margin-top: 20px;
}


/* Настройки для кнопок-иконо */
.btn-icon:hover{
    cursor: pointer;
}

.btn-icon path {
    stroke: var(--icon-color);
    stroke-width: 1;
    &:hover{
        stroke: var(--icon-color);
    }
}
