--
-- PostgreSQL database cluster dump
--

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--





--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:2Lr7YmjYumQuNYV7cE7sKQ==$KemR48aJw+gEzLghQQi5rdgjLlIovnFbq7m5aBIeOFg=:1ooVFmb08l65BcUZQBKJnrDWfgEjvqXvw+wknUEcDno=';

--
-- User Configurations
--








--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2 (Debian 15.2-1.pgdg110+1)
-- Dumped by pg_dump version 15.2 (Debian 15.2-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\connect template1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

-- Dumped from database version 15.2 (Debian 15.2-1.pgdg110+1)
-- Dumped by pg_dump version 15.2 (Debian 15.2-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\connect postgres

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: pharm_web_drug; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_drug (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    time_create timestamp with time zone NOT NULL,
    time_update timestamp with time zone NOT NULL,
    slug character varying(255) NOT NULL,
    pg_id bigint,
    user_id integer NOT NULL
);


ALTER TABLE public.pharm_web_drug OWNER TO postgres;

--
-- Name: pharm_web_drug_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_drug ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_drug_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_druggroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_druggroup (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    time_create timestamp with time zone NOT NULL,
    time_update timestamp with time zone NOT NULL,
    slug character varying(255) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.pharm_web_druggroup OWNER TO postgres;

--
-- Name: pharm_web_druggroup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_druggroup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_druggroup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_druginteractiontable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_druginteractiontable (
    id bigint NOT NULL,
    "Interaction" text NOT NULL,
    time_create timestamp with time zone NOT NULL,
    time_update timestamp with time zone NOT NULL,
    "DrugOne_id" bigint,
    "DrugTwo_id" bigint,
    user_id integer NOT NULL
);


ALTER TABLE public.pharm_web_druginteractiontable OWNER TO postgres;

--
-- Name: pharm_web_druginteractiontable_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_druginteractiontable ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_druginteractiontable_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_ml_model; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_ml_model (
    id bigint NOT NULL,
    name_model character varying(255) NOT NULL,
    description text NOT NULL,
    autor character varying(255) NOT NULL,
    time_create timestamp with time zone NOT NULL,
    time_update timestamp with time zone NOT NULL,
    slug character varying(255) NOT NULL,
    user_group_id bigint
);


ALTER TABLE public.pharm_web_ml_model OWNER TO postgres;

--
-- Name: pharm_web_ml_model_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_ml_model ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_ml_model_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_name_drugs_medscape; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_name_drugs_medscape (
    id bigint NOT NULL,
    "Name_en" character varying(255) NOT NULL,
    "Name_ru" character varying(255) NOT NULL
);


ALTER TABLE public.pharm_web_name_drugs_medscape OWNER TO postgres;

--
-- Name: pharm_web_name_drugs_medscape_Group_Type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."pharm_web_name_drugs_medscape_Group_Type" (
    id bigint NOT NULL,
    name_drugs_medscape_id bigint NOT NULL,
    type_drugs_medscape_id bigint NOT NULL
);


ALTER TABLE public."pharm_web_name_drugs_medscape_Group_Type" OWNER TO postgres;

--
-- Name: pharm_web_name_drugs_medscape_Group_Type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."pharm_web_name_drugs_medscape_Group_Type" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."pharm_web_name_drugs_medscape_Group_Type_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_name_drugs_medscape_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_name_drugs_medscape ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_name_drugs_medscape_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_type_drugs_medscape; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_type_drugs_medscape (
    id bigint NOT NULL,
    "Type_en" character varying(255) NOT NULL,
    "Type_ru" character varying(255) NOT NULL
);


ALTER TABLE public.pharm_web_type_drugs_medscape OWNER TO postgres;

--
-- Name: pharm_web_type_drugs_medscape_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_type_drugs_medscape ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_type_drugs_medscape_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_usergroupall; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_usergroupall (
    id bigint NOT NULL,
    group_name character varying(255) NOT NULL,
    time_create timestamp with time zone NOT NULL,
    time_update timestamp with time zone NOT NULL,
    slug character varying(255) NOT NULL
);


ALTER TABLE public.pharm_web_usergroupall OWNER TO postgres;

--
-- Name: pharm_web_usergroupall_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_usergroupall ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_usergroupall_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pharm_web_useringroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pharm_web_useringroup (
    id bigint NOT NULL,
    time_create timestamp with time zone NOT NULL,
    time_update timestamp with time zone NOT NULL,
    slug character varying(255) NOT NULL,
    user_id integer NOT NULL,
    user_group_id bigint
);


ALTER TABLE public.pharm_web_useringroup OWNER TO postgres;

--
-- Name: pharm_web_useringroup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pharm_web_useringroup ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pharm_web_useringroup_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$600000$MPVoTdxQhRcLRNfNhvPuhc$SdInXyJYXT7qI3IdiRRwXZmbFd8D9Lk7gldoZThz3Uw=	2023-09-10 19:54:15.362028+00	t	admin			kalengul@mail.ru	t	t	2023-05-12 05:24:55.809722+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	pharm_web	druggroup
8	pharm_web	drug
9	pharm_web	usergroupall
10	pharm_web	useringroup
11	pharm_web	ml_model
12	pharm_web	druginteraction_table
13	pharm_web	druginteractiontable
14	pharm_web	type_drugs_medscape
15	pharm_web	name_drugs_medscape
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharm_web_drug; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharm_web_druggroup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharm_web_druginteractiontable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharm_web_ml_model; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pharm_web_name_drugs_medscape; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pharm_web_name_drugs_medscape (id, "Name_en", "Name_ru") FROM stdin;
\.


--
-- Data for Name: pharm_web_name_drugs_medscape_Group_Type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."pharm_web_name_drugs_medscape_Group_Type" (id, name_drugs_medscape_id, type_drugs_medscape_id) FROM stdin;
\.


--
-- Data for Name: pharm_web_type_drugs_medscape; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pharm_web_type_drugs_medscape (id, "Type_en", "Type_ru") FROM stdin;
\.


--
-- Data for Name: pharm_web_usergroupall; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pharm_web_usergroupall (id, group_name, time_create, time_update, slug) FROM stdin;
1	Test User	2023-05-12 05:40:29.819497+00	2023-05-12 05:40:29.81951+00	test_user
\.


--
-- Data for Name: pharm_web_useringroup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pharm_web_useringroup (id, time_create, time_update, slug, user_id, user_group_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 222, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: pharm_web_drug_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_drug_id_seq', 26, true);


--
-- Name: pharm_web_druggroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_druggroup_id_seq', 15, true);


--
-- Name: pharm_web_druginteractiontable_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_druginteractiontable_id_seq', 176, true);


--
-- Name: pharm_web_ml_model_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_ml_model_id_seq', 3, true);


--
-- Name: pharm_web_name_drugs_medscape_Group_Type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."pharm_web_name_drugs_medscape_Group_Type_id_seq"', 1, false);


--
-- Name: pharm_web_name_drugs_medscape_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_name_drugs_medscape_id_seq', 1, false);


--
-- Name: pharm_web_type_drugs_medscape_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_type_drugs_medscape_id_seq', 1, false);


--
-- Name: pharm_web_usergroupall_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_usergroupall_id_seq', 1, true);


--
-- Name: pharm_web_useringroup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pharm_web_useringroup_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: pharm_web_drug pharm_web_drug_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_drug
    ADD CONSTRAINT pharm_web_drug_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_drug pharm_web_drug_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_drug
    ADD CONSTRAINT pharm_web_drug_slug_key UNIQUE (slug);


--
-- Name: pharm_web_druggroup pharm_web_druggroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_druggroup
    ADD CONSTRAINT pharm_web_druggroup_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_druggroup pharm_web_druggroup_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_druggroup
    ADD CONSTRAINT pharm_web_druggroup_slug_key UNIQUE (slug);


--
-- Name: pharm_web_druginteractiontable pharm_web_druginteractiontable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_druginteractiontable
    ADD CONSTRAINT pharm_web_druginteractiontable_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_ml_model pharm_web_ml_model_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_ml_model
    ADD CONSTRAINT pharm_web_ml_model_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_ml_model pharm_web_ml_model_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_ml_model
    ADD CONSTRAINT pharm_web_ml_model_slug_key UNIQUE (slug);


--
-- Name: pharm_web_name_drugs_medscape_Group_Type pharm_web_name_drugs_med_name_drugs_medscape_id_t_779a87fd_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."pharm_web_name_drugs_medscape_Group_Type"
    ADD CONSTRAINT pharm_web_name_drugs_med_name_drugs_medscape_id_t_779a87fd_uniq UNIQUE (name_drugs_medscape_id, type_drugs_medscape_id);


--
-- Name: pharm_web_name_drugs_medscape_Group_Type pharm_web_name_drugs_medscape_Group_Type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."pharm_web_name_drugs_medscape_Group_Type"
    ADD CONSTRAINT "pharm_web_name_drugs_medscape_Group_Type_pkey" PRIMARY KEY (id);


--
-- Name: pharm_web_name_drugs_medscape pharm_web_name_drugs_medscape_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_name_drugs_medscape
    ADD CONSTRAINT pharm_web_name_drugs_medscape_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_type_drugs_medscape pharm_web_type_drugs_medscape_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_type_drugs_medscape
    ADD CONSTRAINT pharm_web_type_drugs_medscape_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_usergroupall pharm_web_usergroupall_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_usergroupall
    ADD CONSTRAINT pharm_web_usergroupall_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_usergroupall pharm_web_usergroupall_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_usergroupall
    ADD CONSTRAINT pharm_web_usergroupall_slug_key UNIQUE (slug);


--
-- Name: pharm_web_useringroup pharm_web_useringroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_useringroup
    ADD CONSTRAINT pharm_web_useringroup_pkey PRIMARY KEY (id);


--
-- Name: pharm_web_useringroup pharm_web_useringroup_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_useringroup
    ADD CONSTRAINT pharm_web_useringroup_slug_key UNIQUE (slug);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: pharm_web_drug_pg_id_d3a7bc73; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_drug_pg_id_d3a7bc73 ON public.pharm_web_drug USING btree (pg_id);


--
-- Name: pharm_web_drug_slug_2a164ffb_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_drug_slug_2a164ffb_like ON public.pharm_web_drug USING btree (slug varchar_pattern_ops);


--
-- Name: pharm_web_drug_user_id_ebd01b08; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_drug_user_id_ebd01b08 ON public.pharm_web_drug USING btree (user_id);


--
-- Name: pharm_web_druggroup_slug_bc76b6bf_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_druggroup_slug_bc76b6bf_like ON public.pharm_web_druggroup USING btree (slug varchar_pattern_ops);


--
-- Name: pharm_web_druggroup_user_id_713b84e2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_druggroup_user_id_713b84e2 ON public.pharm_web_druggroup USING btree (user_id);


--
-- Name: pharm_web_druginteractiontable_DrugOne_id_e087e901; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pharm_web_druginteractiontable_DrugOne_id_e087e901" ON public.pharm_web_druginteractiontable USING btree ("DrugOne_id");


--
-- Name: pharm_web_druginteractiontable_DrugTwo_id_df0bc8e5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "pharm_web_druginteractiontable_DrugTwo_id_df0bc8e5" ON public.pharm_web_druginteractiontable USING btree ("DrugTwo_id");


--
-- Name: pharm_web_druginteractiontable_user_id_e469b16a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_druginteractiontable_user_id_e469b16a ON public.pharm_web_druginteractiontable USING btree (user_id);


--
-- Name: pharm_web_ml_model_slug_2d52e236_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_ml_model_slug_2d52e236_like ON public.pharm_web_ml_model USING btree (slug varchar_pattern_ops);


--
-- Name: pharm_web_ml_model_user_group_id_c8d79583; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_ml_model_user_group_id_c8d79583 ON public.pharm_web_ml_model USING btree (user_group_id);


--
-- Name: pharm_web_name_drugs_medsc_name_drugs_medscape_id_13375f84; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_name_drugs_medsc_name_drugs_medscape_id_13375f84 ON public."pharm_web_name_drugs_medscape_Group_Type" USING btree (name_drugs_medscape_id);


--
-- Name: pharm_web_name_drugs_medsc_type_drugs_medscape_id_c2a938ac; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_name_drugs_medsc_type_drugs_medscape_id_c2a938ac ON public."pharm_web_name_drugs_medscape_Group_Type" USING btree (type_drugs_medscape_id);


--
-- Name: pharm_web_usergroupall_slug_aa6f5341_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_usergroupall_slug_aa6f5341_like ON public.pharm_web_usergroupall USING btree (slug varchar_pattern_ops);


--
-- Name: pharm_web_useringroup_slug_b7fb86ae_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_useringroup_slug_b7fb86ae_like ON public.pharm_web_useringroup USING btree (slug varchar_pattern_ops);


--
-- Name: pharm_web_useringroup_user_group_id_ae8d664e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_useringroup_user_group_id_ae8d664e ON public.pharm_web_useringroup USING btree (user_group_id);


--
-- Name: pharm_web_useringroup_user_id_a4f62d36; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX pharm_web_useringroup_user_id_a4f62d36 ON public.pharm_web_useringroup USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_drug pharm_web_drug_pg_id_d3a7bc73_fk_pharm_web_druggroup_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_drug
    ADD CONSTRAINT pharm_web_drug_pg_id_d3a7bc73_fk_pharm_web_druggroup_id FOREIGN KEY (pg_id) REFERENCES public.pharm_web_druggroup(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_drug pharm_web_drug_user_id_ebd01b08_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_drug
    ADD CONSTRAINT pharm_web_drug_user_id_ebd01b08_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_druggroup pharm_web_druggroup_user_id_713b84e2_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_druggroup
    ADD CONSTRAINT pharm_web_druggroup_user_id_713b84e2_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_druginteractiontable pharm_web_drugintera_DrugTwo_id_df0bc8e5_fk_pharm_web; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_druginteractiontable
    ADD CONSTRAINT "pharm_web_drugintera_DrugTwo_id_df0bc8e5_fk_pharm_web" FOREIGN KEY ("DrugTwo_id") REFERENCES public.pharm_web_drug(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_druginteractiontable pharm_web_druginteractiontable_user_id_e469b16a_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_druginteractiontable
    ADD CONSTRAINT pharm_web_druginteractiontable_user_id_e469b16a_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_ml_model pharm_web_ml_model_user_group_id_c8d79583_fk_pharm_web; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_ml_model
    ADD CONSTRAINT pharm_web_ml_model_user_group_id_c8d79583_fk_pharm_web FOREIGN KEY (user_group_id) REFERENCES public.pharm_web_usergroupall(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_name_drugs_medscape_Group_Type pharm_web_name_drugs_name_drugs_medscape__13375f84_fk_pharm_web; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."pharm_web_name_drugs_medscape_Group_Type"
    ADD CONSTRAINT pharm_web_name_drugs_name_drugs_medscape__13375f84_fk_pharm_web FOREIGN KEY (name_drugs_medscape_id) REFERENCES public.pharm_web_name_drugs_medscape(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_name_drugs_medscape_Group_Type pharm_web_name_drugs_type_drugs_medscape__c2a938ac_fk_pharm_web; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."pharm_web_name_drugs_medscape_Group_Type"
    ADD CONSTRAINT pharm_web_name_drugs_type_drugs_medscape__c2a938ac_fk_pharm_web FOREIGN KEY (type_drugs_medscape_id) REFERENCES public.pharm_web_type_drugs_medscape(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_useringroup pharm_web_useringrou_user_group_id_ae8d664e_fk_pharm_web; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_useringroup
    ADD CONSTRAINT pharm_web_useringrou_user_group_id_ae8d664e_fk_pharm_web FOREIGN KEY (user_group_id) REFERENCES public.pharm_web_usergroupall(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pharm_web_useringroup pharm_web_useringroup_user_id_a4f62d36_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pharm_web_useringroup
    ADD CONSTRAINT pharm_web_useringroup_user_id_a4f62d36_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

--
-- PostgreSQL database cluster dump complete
--

