@import "./css/flex.scss";
@import "./css/btn.scss";
@import "./css/nosologyGroup.scss";
@import "./css/fonts/TikTokSans/TikTok_Sans/font.css";
@import "./css/glassEffect.scss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Палитра */
  --bg-color: #E0E5EC;
  --nav-bg: #E0E5EC;
  --nav-link-hover: #C9D2DE;
  --nav-link-active: #C9D6E8;

  --btn-text-send: #FEFFFF;
  --btn-send: #0A1320;
  --btn-send-hover: #263239;
  --btn-send-active: #263239;
  --btn-delete: #faadad;
  --btn-delete-hover: #fc7878;
  --btn-delete-active: #fc7878;

  --btn-second: #FEFFFF;
  --btn-second-hover: #D7DFEA;
  --btn-second-active: #D7DFEA;
  --btn-second-color: #0A1320;

  --input-bg: #E0E5EC;

  --light-shadow: #fff;
  --dark-shadow: #000;

  --mc-err: #f0c1ad;
  --err-color: #F26E50;

  --login-borde: #B2CFE5;

  --bg-green: #dcf5d6;
  --color-green: #27462a;/* #329939;*/
  --color-durk-green: #005f00; /*#27462a #005f00*/
  --bg-red: #FFB799/*#fbba85*/;/*#fba785*/;
  --color-red: #673a2c; /*673a2c b3441f*/
  --bg-yellow: #fbf2c4;
  --color-yellow: #605336; /*#605336 7b6739*/
  --bg-blue: #d7eaea;
  --color-blue: #233f41;

  --bg-dark: #0A1320;



  --bs-border-width: 1px;
  --bs-border-color: #8892af;

}

body {
  margin: 0;
}

.err{
  margin-top: 0;
  color: var(--err-color);
  font-size: 0.7em;
}

h1{
  font-size: 1.6rem;
  font-family: "TikTok Sans";

}

h6{
  font-size: 1.1rem;
  font-weight: 700;
}

p.h7{
  font-weight: 600;
  font-size: 1.1rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--bg-color);
  }
} */


.dg-block{
  padding: 2.5%;
  border-radius: 6px;
}

input[type="color"]{
  padding: 0;
  border: none; 
}

input[type="text"]{
  background-color: transparent;
}

main{
  height: 86vh;
  background-image: url("../public/IMGBG.png");
  background-size: cover;        
  background-position: center;
  background-position-y: top; 
  background-repeat: no-repeat; 
  background-attachment: fixed;  

  overflow: auto; 
  margin-bottom: 0.5rem;
  border-radius: 21px;
}

/* Навбар поверх всего */
nav {
    height: 13vh;
    position: relative;
    z-index: 10;
    background: #fff;
}

::-webkit-scrollbar {
    width: 4px; /* ширина скролла */
    background: transparent; /* прозрачный фон */
}

::-webkit-scrollbar-track {
    background: transparent; /* прозрачный трек (дорожка) */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* полупрозрачный ползунок */
    border-radius: 5px;
}


