@import "./css/flex.scss";
@import "./css/btn.scss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Палитра */
  --bg-color: #E0E5EC;
  --nav-bg: #E0E5EC;
  --nav-link-hover: #C9D2DE;
  --nav-link-active: #C9D6E8;

  --btn-send: #C6DBEC;
  --btn-send-hover: #B2CFE5;
  --btn-send-active: #9FC4DF;

  --input-bg: #E0E5EC;

  --light-shadow: #fff;
  --dark-shadow: #000;

  --mc-err: #f0c1ad;
  --err-color: #F26E50;

  --login-borde: #B2CFE5;
}

body {
  margin: 0;
}

.err{
  margin-top: 0;
  color: var(--err-color);
  font-size: 0.7em;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--bg-color);
  }
} */
