@import "./css/flex.scss";
@import "./css/btn.scss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Палитра */
  --bg-color: #E0E5EC;
  --nav-bg: #E0E5EC;
  --nav-link-hover: #C9D2DE;
  --nav-link-active: #C9D6E8;

  --btn-send: #C6DBEC;
  --btn-send-hover: #B2CFE5;
  --btn-send-active: #9FC4DF;

  --input-bg: #E0E5EC;

  --light-shadow: #fff;
  --dark-shadow: #000;

  --mc-err: #f0c1ad;
  --err-color: #F26E50;

  --login-borde: #B2CFE5;

  --bg-green: #dcf5d6;
  --color-green: #329939;
  --color-durk-green: #27462a; /*#27462a #005f00*/
  --bg-red: #fba785;
  --color-red: #673a2c; /*673a2c b3441f*/
  --bg-yellow: #fbf2c4;
  --color-yellow: #605336; /*#605336 7b6739*/
  --bg-blue: #d7eaea;
  --color-blue: #52969c;


}

body {
  margin: 0;
}

.err{
  margin-top: 0;
  color: var(--err-color);
  font-size: 0.7em;
}

h3{
  font-size: 1.1rem;
  font-weight: 700;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--bg-color);
  }
} */


.dg-1{ /*Общая группа*/
  color: #fff;
  background-color: #6c757d;
}

.dg-2{ /*ХСН*/
  color: #fff;
  background-color: #31ac9b;
}

.dg-3{ /*Грипп*/
  color: #fff;
  background-color: #31ac47;
}


