#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button-load{
  background-color: #61c5fbaa;
}

.button-container button {
  margin-right: 10px;
  font-size: 1.7rem;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
}

.button-container button:hover {
  background-color: #4aa0d8;
}

.button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.input-container {
  gap: 20px;
}

.form-box {
  background-color: #8bf7aa;
  border-radius: 16px;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  width: 800px;
  height: 400px;
}

.form-box label {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5 px;
}

.form-box h1 {
  font-size: 3.0rem;
  border-bottom: 2px solid #0a0a0a;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.form-title-box {
  background-color: #f0f8ff;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}
