@import "../src/static/css/flex.css";
@import "../src/static/css/headers.css";
@import "../src/static/css/tables.css";
@import "../src/static/css/input.css";
@import "../src/static/css/select.css";

:root{
  --text-active: #E8BD6D;
  --text-button-fill: #fff;
  --background-fill: #95BEEF;
  --background-fill-active: #7AADEB;
  --background-nofill: #fff;
  --background-fill-light: #E9EEF4;
  --background-table: #F5F5F5;
  --border-table: #95BEEF;
  --border-input: #DFDBDB;
  --icon-color: #4D92E5;

  /*Новые именования цветов*/
  --text-main: #000;
  --background-main: #fff;
  --background-success: #D7E6C9;
  --background-modal: #334a66ac;

  font-size: 14px;
}

body {
  margin: 0 5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-main);
}

hr{
  margin: 0;
}

.err{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #F26E50 !important;
  font-size: 0.7em;
}

.errBorder{
  border-color:  #F26E50 !important;
}