.chack-container{
    margin-left: 30px;
}

.chack-container > lable{
    font-weight: 500;
}

.detail-main{
    margin-top: 1%;
}

.nodeChoice-block{
    margin-bottom: 30px;
}

div> .radio-block{
    margin-top: 10px;
}

.btn-block > button {
    margin-top: 40px;
    margin-right: 30px;
}