.flex{
    display: flex;
}
      
.jc-center{
    justify-content: center;
}

.jc-end{
    justify-content: flex-end
}

.jc-sb{
    justify-content: space-between
}

.jc-start{
    justify-content: start;
}

.align-center{
    align-items: center;
}